.label {
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: all 0.18s ease-in-out;
  border: 1px solid #333;
  color: #333;
  margin-bottom: 1.5rem;
}

.inputHidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fotoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.fotoCard {
  position: relative;
  padding-top: calc(50% - 30px);
  margin: 10px;
  width: calc(50% - 20px);
  max-width: calc(50% - 20px);
  flex-grow: 1;
  border: 1px dashed #999999;
  border-radius: 5px;
  cursor: grab;
}

.fotoCard:first-child {
  padding-top: calc(100% - 20px);
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
}

.foto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.delete {
  position: absolute;
  top: 1px;
  right: 5px;
  opacity: .7;
}