.image_card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto {
  max-width: 100%;
  max-height: 200px;
}

div h3.textRed {
  color: rgb(0, 255, 21);
  font-size: 40px;
}

.wisible {
  opacity: 0;
  animation-name: onwisible;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  /* animation-delay: ; */
}

@keyframes onwisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}